

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #f0f0f0;
  background-color: #1a202c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #1a202c;
  min-height: 100vh;
}

section {
  border-top: 1px solid #2d3748;
  padding: 4rem 2rem;
}


h1, h2, h3 {
  color: #ffffff;
}

p {
  color: #cccccc;
}
